<h1>About</h1>
<body>
<section>
  <br />
<h5>This demo app was created for the sake of learning ruby on rails. The idea behind this app is to have key functionality of any social media application this functionality include.</h5>
  <br />
    <ol>
      <li>Ability to create an account for new users. Useing an email and password </li>
      <li>Ability to edit the account and delete it at anytime<li>
      <li>regesterd users can add new posts (Pins)<li>
      <li>A new "Pin" has to have a short text and an image <li>
      <li>All posts "Pins" will be viewable for regesterd users and non-regesterd <li>
      <li>Only registerd users can create posts "Pins" <li>
      <li>Only registered users are allowed to "uplove" "Pins"(like)<li>
      <li>Only registered users can leave short comments on posts "Pins"<li>
      <li>Only registerd and owner of a Post "Pin" able to edit or delete the post<li>
      <li>Comments are viewable by anyone <li>
    </ol>
<br/>
<h3> The tools that been used to creade this website </h3>
<h4> Development Environment </h4>
    <ul>
      <li>Atom text edior </li>
      <li>Vagrant virtual machine (Ubuntu 14.4) </li>
      <li>Imagemagic </li>
      <li> Mysqlite (development) </li>
      <li> Postgresql (Production) </li>
    </ul>
<h4>Gem's</h4>
    <ul>
      <li>'byebug'</li>
      <li>'web-console', '~> 2.0'</li>
      <li>'spring'</li>
      <li>'sqlite3'</li>
      <li>'thin'</li>
      <li>'pg', '~> 0.18.2'</li>
      <li>'rails_12factor', '0.0.2'</li>
      <li>'devise', '~> 3.5.1'</li>
      <li>'paperclip', '~> 4.3.0'</li>
      <li>'bootstrap-sass', '~> 3.3.5.1'</li>
      <li>'autoprefixer-rails'</li>
      <li>'masonry-rails'</li>
      <li>'devise-bootstrap-views'</li>
      <li>'acts_as_votable', '~> 0.10.0'</li>
    </ul>
</section>
</body>
