// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #E9E9E9;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	text-indent: 60px;
}
#pins {
	margin: 0 auto;
}
.box {
	margin: 10px;
	width: 280px;
	padding: 7px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.btn-group { 
	display: inline;
}
.box img{
	width: 100%
}
.btn-lg{
	position: fixed;
  right: 25px;
  bottom: 20px;
}