// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #E9E9E9;
}
h1, h2, h3, h5, h6 {
	font-weight: 200;
	text-indent: 20px;
}
#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}
.box {
	margin: 10px;
	width: 280px;
	padding: 5px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 1px 1px 0;
}
#by {
	color:gray;
}
#like-btn {
}
#edit-btn {
	right: 160px;
	top: -10px;
}
#unpin-btn{
	right: 110px;
	top: -32px;
}
#like-btn-show{
	right:1px;
}
.box img{
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}
.btn-lg{
	position: fixed;
  right: 25px;
	top:700px;
  box-shadow: 5px 5px 5px #888888;
}
.btn-lg:hover{
	color: dark-gray;
	box-shadow: 0px 1px 1px #888888;
}
.edit_image{
	margin: auto;
  width: 60%;
  border:3px solid #8AC007;
  padding: 10px;
}
.panel-body {
	padding: 35px;
	h1 {
	margin: 0 0 10px 0;
	}
.description {
	color: #868686;
	line-height: 1.75;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
	.usedr {
		padding-top: 8px;
	}
}
